body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}

/* Navbar */
.navbar {
  background: #1e3a8a;
  color: white;
  padding: 15px 0;
}

.container {
  width: 90%;
  margin: auto;
}

/* Page Layout */
.page-section {
  padding: 20px;
}

/* Form Card */
.form-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  margin: auto;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.form-card input,
.form-card textarea,
.form-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-card button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-card button:hover {
  background: #1e40af;
}

/* Job Card */
.job-card {
  background: white;
  padding: 20px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.job-card:hover {
  transform: translateY(-5px);
}
.job-card button {
  background: green;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.job-card button:hover {
  background: darkgreen;
}

button {
  font-weight: bold;
  letter-spacing: 0.5px;
}

button:hover {
  opacity: 0.9;
}